.fullWidth {
    width: 100% !important;
}
.width-80 {
    width: 80%;
}
.width-60 {
    width: 60%;
}
.width-40 {
    width: 40%;
}
.width-20 {
    width: 20%;
}

.margin-10 {
    margin: 10px;
}

.marginTop-10 {
    margin-top: 10px !important;
}

.marginTop-15 {
    margin-top: 15px !important;
}

.padding-10 {
    padding: 10px;
}

.font-10 {
    font-size: 10px;
}

.font-15 {
    font-size: 15px;
}

.font-20 {
    font-size: 20px;
}

.font-25 {
    font-size: 25px;
}

.font-30 {
    font-size: 30px;
}

.onVerticalCenter {
    display: flex !important;
    align-items: center;
}

.NanumGothic-Regular {
    font-family: 'NanumGothic-Regular';
}

button {
    font-family: 'NanumGothic-Regular' !important;
}

/* font-style */
@font-face {
    font-family: 'NanumGothic-Regular';
    src: url('../font/NanumGothic-Regular.ttf') format('truetype');
}

.ant-table td {
    white-space: nowrap;
}
.ant-table span {
    white-space: nowrap;
}

thead {
    position: sticky;
    top: 0;
    z-index: 1;
}
